n8n/workflows/demand_strategy_advisor.json
{
  "name": "Demand Strategy Advisor",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "path": "demand-strategy-advisor",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-600, 0],
      "id": "dsa-webhook",
      "name": "Strategy Request Webhook",
      "webhookId": "demand-strategy-advisor"
    },
    {
      "parameters": {
        "jsCode": "// Validate and extract incoming payload\nconst body = $input.first().json.body ?? $input.first().json;\n\nconst hedge_ratio = parseFloat(body.hedge_ratio ?? 0.65);\nconst consumption = parseInt(body.consumption_bbl ?? 100000);\nconst instruments = body.instruments ?? ['futures'];\nconst current_var = parseFloat(body.current_var_usd ?? 0);\nconst what_if_result = body.what_if_result ?? null;\n\n// Validate\nif (hedge_ratio < 0.30 || hedge_ratio > 0.80) {\n  throw new Error(`Invalid hedge_ratio: ${hedge_ratio}. Must be 0.30–0.80.`);\n}\nif (consumption < 1000 || consumption > 10000000) {\n  throw new Error(`Invalid consumption_bbl: ${consumption}`);\n}\nif (!what_if_result) {\n  throw new Error('what_if_result is required. Call /analytics/what-if first.');\n}\n\n// Build context for GPT\nconst var_usd = what_if_result.what_if?.var_usd ?? 0;\nconst rawCollateralPct = what_if_result.what_if?.collateral_pct_of_reserves ?? 0;\nconst collateralPctNum = Number(rawCollateralPct);\n// Normalize to percent (0-100). Accept either fraction (0-1) or percent input.\nconst collateral_pct = Number.isFinite(collateralPctNum)\n  ? (collateralPctNum <= 1 ? collateralPctNum * 100 : collateralPctNum)\n  : 0;\nconst var_better = what_if_result.comparison?.var_better ?? false;\nconst var_diff = Math.abs(what_if_result.comparison?.var_difference ?? 0);\nconst monthly_saving = what_if_result.comparison?.monthly_saving_vs_unhedged ?? 0;\nconst instrument_mix = what_if_result.what_if?.instrument_mix ?? {};\n\n// Determine risk profile for narrative tone\nconst risk_profile = hedge_ratio >= 0.70 ? 'aggressive'\n  : hedge_ratio >= 0.55 ? 'moderate'\n  : 'conservative';\n\n// Format instrument summary\nconst instrument_summary = Object.entries(instrument_mix)\n  .filter(([, v]) => v > 0.01)\n  .map(([k, v]) => `${k} ${(v * 100).toFixed(0)}%`)\n  .join(', ');\n\nreturn [{\n  json: {\n    validated: true,\n    hedge_ratio,\n    consumption,\n    instruments,\n    current_var,\n    what_if_result,\n    var_usd,\n    collateral_pct,\n    var_better,\n    var_diff,\n    monthly_saving,\n    instrument_summary,\n    risk_profile,\n    hedged_bbl: Math.round(consumption * hedge_ratio),\n    unhedged_bbl: Math.round(consumption * (1 - hedge_ratio)),\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 0],
      "id": "dsa-validator",
      "name": "Input Validator"
    },
    {
      "parameters": {
        "jsCode": "// Build the GPT prompt from validated data\nconst d = $input.first().json;\n\nconst systemPrompt = `You are a senior aviation treasury analyst advising the CFO of a mid-size airline. \nYou communicate in plain English — no jargon, no formulas. \nYou give direct, confident, actionable recommendations in 3 sentences maximum. \nYou always anchor your advice to real dollar amounts and barrel volumes. \nYou never say 'it depends' — you make a clear recommendation.`;\n\nconst userPrompt = `The CFO has configured the following fuel hedging strategy:\n\n- Monthly fuel uplift: ${d.consumption.toLocaleString()} barrels\n- Target hedge ratio: ${(d.hedge_ratio * 100).toFixed(0)}% (${d.risk_profile} profile)\n- Hedged volume: ${d.hedged_bbl.toLocaleString()} bbl covered, ${d.unhedged_bbl.toLocaleString()} bbl exposed\n- Instrument mix: ${d.instrument_summary || 'futures only'}\n- Portfolio VaR at this strategy: $${(d.var_usd / 1_000_000).toFixed(2)}M\n- Collateral required: ${d.collateral_pct.toFixed(1)}% of reserves\n- Monthly saving vs. fully unhedged: $${(d.monthly_saving / 1_000_000).toFixed(2)}M\n- Compared to system recommendation: this strategy ${d.var_better ? 'reduces' : 'increases'} VaR by $${(d.var_diff / 1_000_000).toFixed(2)}M\n\nWrite a 3-sentence CFO briefing that:\n1. States clearly whether this strategy is appropriate and why\n2. Highlights the most important risk or opportunity in this specific configuration\n3. Gives one concrete action recommendation\n\nDo not use bullet points. Write in flowing prose. Be direct.`;\n\nreturn [{\n  json: {\n    ...d,\n    system_prompt: systemPrompt,\n    user_prompt: userPrompt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 0],
      "id": "dsa-prompt-builder",
      "name": "Prompt Builder"
    },
    {
      "parameters": {
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GROQ_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"max_tokens\": 300,\n  \"temperature\": 0.4,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.system_prompt) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.user_prompt) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [0, 0],
      "id": "dsa-gpt-call",
      "name": "GPT Narrator",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Extract GPT response and build final output\nconst gptResponse = $input.first().json;\nconst ctx = $('Prompt Builder').first().json;\n\n// Extract narrative from model response\nlet narrative = '';\ntry {\n  narrative = gptResponse.choices?.[0]?.message?.content?.trim() ?? '';\n} catch (e) {\n  narrative = '';\n}\n\nconst usedGroqModel = Boolean(gptResponse?.choices?.[0]?.message?.content);\n\n// Fallback narrative if model fails or returns empty\nif (!narrative || narrative.length < 20) {\n  const saving_m = (ctx.monthly_saving / 1_000_000).toFixed(2);\n  const var_m = (ctx.var_usd / 1_000_000).toFixed(2);\n  const direction = ctx.var_better ? 'reduces' : 'increases';\n  \n  narrative = `Hedging ${(ctx.hedge_ratio * 100).toFixed(0)}% of your ${ctx.consumption.toLocaleString()} bbl monthly uplift ` +\n    `using ${ctx.instrument_summary || 'futures'} produces a portfolio VaR of $${var_m}M — ` +\n    `this ${direction} risk by $${(ctx.var_diff / 1_000_000).toFixed(2)}M versus the system recommendation. ` +\n    `At current prices, this strategy saves approximately $${saving_m}M per month compared to remaining fully unhedged. ` +\n    `Collateral of ${ctx.collateral_pct.toFixed(1)}% of reserves is required — ` +\n    `${ctx.collateral_pct > 12 ? 'approaching the 12% soft warning threshold' : 'within the acceptable 15% limit'}.`;\n}\n\n// Build the complete response\nconst response = {\n  success: true,\n  narrative,\n  what_if: ctx.what_if_result?.what_if ?? {},\n  comparison: ctx.what_if_result?.comparison ?? {},\n  strategy_summary: {\n    hedge_ratio: ctx.hedge_ratio,\n    hedge_ratio_pct: `${(ctx.hedge_ratio * 100).toFixed(0)}%`,\n    consumption_bbl: ctx.consumption,\n    hedged_bbl: ctx.hedged_bbl,\n    unhedged_bbl: ctx.unhedged_bbl,\n    instrument_summary: ctx.instrument_summary,\n    risk_profile: ctx.risk_profile,\n    var_usd: ctx.var_usd,\n    collateral_pct: ctx.collateral_pct,\n    monthly_saving_usd: ctx.monthly_saving\n  },\n  generated_at: new Date().toISOString(),\n  model_used: usedGroqModel ? 'groq_llama-3.3-70b-versatile' : 'fallback'\n};\n\nreturn [{ json: response }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0],
      "id": "dsa-response-builder",
      "name": "Response Builder"
    }
  ],
  "connections": {
    "Strategy Request Webhook": {
      "main": [[{ "node": "Input Validator", "type": "main", "index": 0 }]]
    },
    "Input Validator": {
      "main": [[{ "node": "Prompt Builder", "type": "main", "index": 0 }]]
    },
    "Prompt Builder": {
      "main": [[{ "node": "GPT Narrator", "type": "main", "index": 0 }]]
    },
    "GPT Narrator": {
      "main": [[{ "node": "Response Builder", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["aerohedge", "demand-strategy", "cfo"],
  "triggerCount": 0
}
